.services{
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.servicecontainer{
    width: 45%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
}
.servicecontainer img{
    height: 200px;
}
.servicetxt h1,p,button{
    margin-bottom: 20px;
    margin-left: 20px;
}
.servicetxt button{
    font-size: 20px;
    background-color: blueviolet;
    color: whitesmoke;
    width: 200px;
    height: 50px;
}
.servicetxt p{
    font-size: 20px;
}