*{
  margin: 0;
  padding: 0;
}
.header{
  display: flex;
  position: fixed;
  margin-left: 120px;
  padding-top: 40px;
}
.logo{
  font-size: 50px;
  font-weight: 600;
  color: whitesmoke;
  text-decoration: none;
}
.navbar{
  padding-top: 20px;
  font-size: 35px;
  padding-left: 600px;
  font-weight: 500;
  color: whitesmoke;
}
.navbars {
  padding-left: 35px;
  text-decoration: none;
  color: whitesmoke;

}
.navbars:hover{
  color: black;
}
#contactus{
  background-color: whitesmoke;
  color: blueviolet;
  margin-left: 20px;
}